@import "helpers";

$baseColors: (
  red: #F44336,
  pink: #E91E63,
  purple: #9C27B0,
  deep-purple: #673AB7,
  indigo: #3F51B5,
  blue: #2196F3,
  light-blue: #03A9F4,
  cyan: #00BCD4,
  teal: #009688,
  green: #4CAF50,
  light-green: #8BC34A,
  lime: #CDDC39,
  yellow: #FFEB3B,
  amber: #FFC107,
  orange: #FF9800,
  deep-orange: #FF5722,
  brown: #795548,
  grey: #9E9E9E,
  blue-grey: #607D8B
);

$colors: generateColors($baseColors, 10);
$surface: #121212;

@each $color, $value in $baseColors {
  .#{$color} {
    color: getColor($color, 500);
  }
}

.basic {

  @each $color, $value in $baseColors {
    $customSurface: blend(rgba(getColor($color, 500), .04), $surface);
    &_theme_#{$color} {
      background-color: getColor($color, 200);
      color: #000;
      .card.nightMode & {
        color: rgba(#fff, .87);
        background: $customSurface;
        .basic-header {
          &__title {
            color: getColor($color, 100);
            // color: rgba(#fff, .87);
          }
          &__subtitle {
            color: getColor($color, 100);
            // color: rgba(#fff, .60);
          }
        }
        .basic-content {
          &__question {
            text-decoration-color: getColor($color, 300);
          }
          &__answer {
            color: getColor($color, 200);
            // background: tint($customSurface, 5);
          }
        }
        .section {
          border-color: tint($customSurface, 12);
          &__header {
            color: rgba(#fff, .20);
            // color: getColor($color, 100);
            background: tint($customSurface, 10);
          }
          &_float {
            background: complement(getColor($color, 200));
            color: rgba(#000, .87);
          }
        }
      }
    }
    &_theme_#{$color} & {
      &__header {
        background: getColor($color, 400);
      }
      // .card.nightMode &__header {
      //   background: tint($customSurface, 5);
      // }
      .card.nightMode &__header, .card.nightMode &__footer {
        color: getColor($color, 100);
        background: tint($customSurface, 5);
      }
      .card.nightMode &__content {
        
      }
    }
  }

}
