@mixin size($witdh, $height: null) {
    width: $witdh;
    height: $height or $witdh;
}

@function tint($color, $percent){
    @return mix(white, $color, $percent);
}

@function shade($color, $percent){
    @return mix(black, $color, $percent);
}

@function blend($foreground, $background) {
    $opacity: opacity($foreground);
    $background-opacity: opacity($background);

    $red: red($foreground) * $opacity + red($background) * $background-opacity * (1 - $opacity);
    $green: green($foreground) * $opacity + green($background) * $background-opacity * (1 - $opacity);
    $blue: blue($foreground) * $opacity + blue($background) * $background-opacity * (1 - $opacity);

    @return rgb(floor($red), floor($green), floor($blue));
}

@function generateColors($baseColors, $variations) {
    $colors:();

    @each $color, $value in $baseColors {
        $maxVar: 36;
        $mid: $variations / 2;
        $dist: $mid - 1;
        $step: $maxVar / $dist;

        // lighten and darken
        @for $i from 1 through $dist {
        $percent: $maxVar - ($step * ($i - 1));
        $darken: ($variations - $i) * 100;
        $lighten: $i * 100;

        $colors: map-merge($colors, (
            #{$color}-#{$lighten}: lighten($value, $percent),
            #{$color}-#{$darken}:  darken($value, $percent)
        ));
        }

        // middle eg 500
        $colors: map-merge($colors, (#{$color}-50: lighten($value, 38.7)));
        $colors: map-merge($colors, (#{$color}-#{$variations/2*100}: $value));
    }
    @return $colors;
}  

@function getColor($theme, $value) {
    $key: "#{$theme}-#{$value}";
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }

    @warn "Unknown `#{$value}` in $colors.";
    @return null;
}
