@import "_reset";
@import "_helpers";
@import "_colors";
@import "_ankidroid";

body {
  overflow: hidden;
}

dialog {
  background: blue;
  border: none;
  color: #fff;
}

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.2),
    rgba(255, 0, 0, 0.2) 1px,
    rgba(255, 0, 0, 0.3) 1px,
    rgba(255, 0, 0, 0.3) 20px
  );
}

.fab-speed-dial {
  right: 16px;
  bottom: 16px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  &_triggered & {
    &__item {
      opacity: 1;
    }
  }
  &__item, &__trigger {
    @include size(40px);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    margin-top: 8px;
  }
  &__item {
    transition: opacity 0.3s;
    opacity: 0;
  }
  &__trigger {
    @include size(56px);
    border-radius: 56px;
  }
}


.basic-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1.5vh;
  box-sizing: border-box;
  &__title, &__subtitle {
    font-size: 3vh;
  }
}

.basic {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__header, &__footer {
    height: 7vh;
  }
  &__footer {
    display: flex;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
  }
  &__content {
    height: 93vh;
    display: flex;
    flex-direction: column;
    // flex: 1;
    overflow: scroll;
    // margin: 0 4px;
  }
  &__section {
    font-size: 5vh;
    flex: 1;
    padding: 6vh;
    position: relative;
    border-bottom: 1px solid;
    &:last-child {
      border: none;
    }
  }
  
  
}

.basic-content {
  &__question {
    line-height: 1.2;
    font-size: 6vh;
    font-weight: 400;
  }
  &__answer {
    font-size: 4vh;
  }
}

.section {
  &__header {
    font-size: 3vh;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 18px;
    border-radius: 0 0 10px 0;
  }
  &_centered {
    justify-content: center;
    text-align: center;
  }
  &_bottomed {
    display: flex;
    align-items: flex-end;
  }
  &_float {
    position: absolute;
    // bottom: calc(84% - 96%);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3vh;
    font-size: 3vh;
  }
}